{% set imagestyle = {
  '#theme':      'image_style',
  '#style_name': 'profile_portrait_500_x_840_',
  '#uri':        node.field_portrait.entity.uri.value,
  '#alt':        node.field_portrait.alt,
  '#attributes': { class: 'inductee-portrait' },
} %}

{% set degreeName1 = content.field_degree_name_1 %}
{% set degreeYear1 = content.field_degree_year_1 %}

<div class="inductee-page">
  <div class="inductee-modal">
    <a class="back-arrow" href="/"><i class="fas fa-arrow-left"></i></a>
    {{ imagestyle }}
    <div class="inductee-details">
      <div class="inductee-qf">
        <div class="year">
          {{ content.field_induction_year }}
        </div>
        <h1 class="display-name">{{ label }}</h1>
        {{ content.group_department_container }}
        {{ content.group_degrees_container }}
      </div>


      <div class="biography">
        {{ content.field_short_biography }}
      </div>

      <div class="button-group">
        <button class="inductee-btn bio" onClick="openFullBioModal()">Full Bio</button>
        {% if content.field_vimeo_url|render %}
          <button class="inductee-btn watch" onClick="openVideoModal()">Watch Video</button>
        {% endif %}
      </div>

    </div>
  </div>
</div>

<div id="modal-background" class="modal-background">
  <div id="bio-modal" class="bio-modal">
    {{ content.field_short_biography }}
    <a id="close-bio" onClick="closeModal('close-bio')" class="modal-close" href="#"><i class="fas fa-arrow-left"></i>Close</a>
  </div>
  <div id="video-modal" class="video-modal">
    {{ content.field_vimeo_url }}
    <div id="vimeo-iframe" style="padding:56.25% 0 0 0;position:relative;"></div>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <a id="close-video" onClick="closeModal('close-video')" class="modal-close" href="#"><i class="fas fa-arrow-left"></i>Close</a>
  </div>
</div>
