{% set imagestyle = {
  '#theme':      'image_style',
  '#style_name': 'profile_portrait_500_x_840_',
  '#uri':        node.field_portrait.entity.uri.value,
  '#alt':        node.field_portrait.alt,
  '#attributes': { class: 'inductee-portrait' },
} %}

{% set degreeName1 = content.field_degree_name_1 %}
{% set degreeYear1 = content.field_degree_year_1 %}

<div class="inductee-page">
  <div class="inductee-modal">
    {{ imagestyle }}
    <div class="inductee-details">
      <div class="year">
        {{ content.field_induction_year }}
      </div>
      <h1 class="display-name">{{ label }}</h1>

      {# If faculty member show department's taught #}
      {{ content.group_department_container }}

      {# If has degree's, show them #}
      {{ content.group_degrees_container }}

    </div>
  </div>
</div>
